.main-content {
  margin-left: 220px;
}

.dashboard {
  padding: 30px;
}

.dashboard h1 {
  margin: 10px;
  background: #1f2937;
  color: #f3f4f6;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 200px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}