.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

/* Left */
.topbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Title */
.Dashboard-header {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
}

/* Toggle Button */
.menu-btn {
    display: none;
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background: #ef4444;
    color: white;
    cursor: pointer;
}

/* ===================== */
/* Mobile */
/* ===================== */

@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .profile span {
        display: none;
    }
}